<div class='about_me' class='box'>
  <img src='../images/audreypic.jpg' width=640px>
  
  <p>In 2012, Audrey left medical school and cannonballed into the world of public radio. Since then, she has spent time reporting in <a href='http://www.npr.org' target="_blank">Washington DC</a> and the <a href='http://www.kucb.org' target="_blank">Aleutian Islands</a>, and is now turning her sights to <a href='http://www.adadevelopersacademy.org' target="_blank">studying</a> the magic of software development.</p>
  
  <p>Audrey has been described as "a little bit crazy" and "not entirely hopeless."</p> 
  
  <p>She is currently based in Seattle, WA and hopes to one day live in a very small house with a very large bathtub.</p>
</div>