<!DOCTYPE html>

<html>

<head>
  <title>About | Audrey Carlsen</title>
  <link href="css/main.css" media="all" rel="stylesheet">
</head>

<body>
  <div id='header'>
    <a href='/' class='fade'>Aüdrey Carlšen</a>
  </div>

  <div class='container'>
    <div id='sidebar'>
    <p><a href='/print'>Print</a></p>
    <p><a href='/radio'>Radio</a></p>
    <p><a href='/this_carleton_life' target='_blank'>Podcast</a></p>
    <p><em>About</em> ~</p>
    </div>
    
    <div id='about_me' class='box'>
      <img src='../images/audreypic.jpg' width=640px>
      <p>In 2012, Audrey left medical school and cannonballed into the world of public radio. Since then, she has spent time reporting in <a href='http://www.npr.org' target="_blank">Washington DC</a> and the <a href='http://www.kucb.org' target="_blank">Aleutian Islands</a>, and has now turned her sights to <a href='http://www.adadevelopersacademy.org' target="_blank">studying</a> the magic of software development.</p>
      <p>Audrey has been described as "a little bit crazy" and "not entirely hopeless."</p> 
      <p>She is currently based in Seattle, WA and hopes to one day live in a very small house with a very large bathtub.</p>
    </div>

  <div class='social_media'>
    <a href='http://www.linkedin.com/pub/audrey-carlsen/63/294/96b' target='_blank'><img src='../images/linkedin.svg' title='LinkedIn'></a>
    <a href='https://twitter.com/audcarls' target='_blank'><img src='../images/twitter.svg' title='Twitter'></a>
    <a href='https://github.com/audreycarlsen' target='_blank'><img src='../images/github.svg' title='GitHub'></a>
  </div>
</body>

</html>