<p>Welcome to my blog! Feel free to browse the following posts for my thoughts on what it's like to be part of the inaugural cohort of Ada Developers Acamdey.</p>

<ul>

  <% @sorted_posts.each do |post, date_array| %>
    <li><a href="/blog/<%= post %>"><%= post %></a></li>
  <% end %>

</ul>