<h2>It's a Blahg</h2>

<p>
  <% @sorted_posts.each do |post, date_array| %>
    <a href="/blog/<%= post %>"><em><%= post %></em></a>
  <% end %>
</p>

<p>Want to learn more about...?</p>

<table>
  <tr>
    <td>Resque!</td>
    <td></td>
    <td>Ajax!</td>
    <td></td>
    <td>Dummy controllers!</td>
  </tr>
  <tr>
    <td></td>
    <td>Rescue blocks!</td>
    <td></td>
    <td>Figaro!</td>
    <td></td>
  </tr>
  <tr>
    <td>Cookies!</td>
    <td></td>
    <td>Self-referential<br>associations!</td>
    <td></td>
    <td>My feelings<br>about GitHub!</td>
  </tr>