<!DOCTYPE html>

<html>

<head>
  <title>Audrey Carlsen</title>
  <link href="css/index.css" media="all" rel="stylesheet">
</head>

<body>
  <div id='title'>
    <h1>Aüdrey Carlšen</h1>
    <h2><a href='/print' class='fade'>Priñt</a>  ~  <a href='/radio' class='fade'>Radiö </a>  ~  <a href='/this_carleton_life' target='_blank' class='fade'>Podcåst</a> ~ <a href='/about' class='fade'>Abøut</a></h2>
  </div>
</body>

</html>