<!DOCTYPE html>

<html>

<head>
  <title>Audrey Carlsen</title>
  <link href="css/main.css" media="all" rel="stylesheet">
</head>

<body>
  <div id='title'>
    <h1>Aüdrey Carlšen</h1>
    <h2><a href='/print'>Priñt</a>  ~  <a href='/radio'>Radiö </a>  ~  <a href='/this_carleton_life'>Pødcast</a> ~ <a href='/contact'>Contåct</a></h2>
  </div>
</body>

</html>