<!DOCTYPE html>

<html>

  <head>
    <title>Audrey Carlsen</title>
    <link href="/css/main.css" media="all" rel="stylesheet">
  </head>

  <body>
    <div id='header'>
      <a href='/'>Aüdrey Carlšen</a>
    </div>

    <div class='container'>
      <div id='sidebar'>
      
        <p><a href='/print'>Print</a></p>
        <p><a href='/radio'>Radio</a></p>
        <p><a href='/this_carleton_life'>Podcast</a></p>
        <p><a href='/blog'>Blog</a></p>
        <p><a href='/about'>About</a>
          <ul class='dropdown'>
            <li>Blog</li>
            <li>Resume</li>
          </ul>
        </p>
        
      </div>

      <div class='box'>

        <%= yield %>

      </div>
    </div>

    <div class='social_media'>
      <a href='http://www.linkedin.com/pub/audrey-carlsen/63/294/96b' target='_blank'><img src='../images/linkedin.svg' title='LinkedIn'></a>
      <a href='https://twitter.com/audcarls' target='_blank'><img src='../images/twitter.svg' title='Twitter'></a>
      <a href='https://github.com/audreycarlsen' target='_blank'><img src='../images/github.svg' title='GitHub'></a>
    </div>
  </body>

</html>