<!DOCTYPE html>

<html>

  <head>
    <title>Audrey Carlsen</title>
    <link href="/css/main.css" media="all" rel="stylesheet">
  </head>

  <body>
    <div id='header'>
      <a href='/'>Aüdrey Carlšen</a>
    </div>

    <div class='container'>
      <div id='sidebar'>
        <ul>
          <li><a href='/print'>Print</a></li><br>
          <li><a href='/radio'>Radio</a></li><br>
          <li><a href='http://thiscarletonlife.blogspot.com' target='blank'>Podcast</a></li><br>
          <li>
            Blog<font color='white'>........</font>
            <ul class='dropdown'>
              <li>
                <% @sorted_posts.each do |post, date_array| %>
                <li><a href="/blog/<%= post %>"><%= post %></a></li>
                <% end %>
              </li><br>
            </ul>
          </li><br>
          <li><a href='/about'>About</a></li>
        </ul>
      </div>

      <div class='box'>

        <%= yield %>

      </div>
    </div>

    <div class='social_media'>
      <a href='http://www.linkedin.com/pub/audrey-carlsen/63/294/96b' target='_blank'><img src='../images/linkedin.svg' title='LinkedIn'></a>
      <a href='https://twitter.com/audcarls' target='_blank'><img src='../images/twitter.svg' title='Twitter'></a>
      <a href='https://github.com/audreycarlsen' target='_blank'><img src='../images/github.svg' title='GitHub'></a>
    </div>
  </body>

</html>