<!DOCTYPE html>

<html>

<head>
  <title>Look! You made it!</title>
  <link href="css/main.css" media="all" rel="stylesheet">
</head>

<body>
  <div id='header'>
    Audrey Carlsen
  </div>

  <div class='container'>
    <div class='box'>
      <h1>Something about me</h1>
      Four loko quinoa 3 wolf moon sriracha pug, post-ironic chia occupy cardigan Carles Vice McSweeney's. Messenger bag mumblecore iPhone tote bag. Thundercats small batch pork belly, freegan disrupt kitsch actually gentrify cliche irony VHS umami. Distillery retro ennui chia small batch. Retro cray selfies kale chips typewriter, freegan 3 wolf moon squid Neutra polaroid dreamcatcher keytar. Helvetica paleo DIY, meh slow-carb High Life American Apparel polaroid. Banksy wayfarers bitters, lomo deep v Neutra Shoreditch leggings flannel bicycle rights PBR hella literally.
    </div>
    <div class='box'>
      <img src="http://placekitten.com/440/400">
    </div>

    <hr>
    Footer
  </div>
</body>

</html>