<!DOCTYPE html>

<html>

<head>
  <title>Print | Audrey Carlsen</title>
  <link href="css/main.css" media="all" rel="stylesheet">
</head>

<body>
  <div id='header'>
    <a href='/'>Aüdrey Carlšen</a>
  </div>

  <div class='container'>
    <div id='sidebar'>
    <p><em>Print</em> ~</p>
    <p><a href='/radio'>Radio</a></p>
    <p><a href='/this_carleton_life' target='_blank'>Podcast</a></p>
    <p><a href='/about'>About</a></p>
    </div>

    <div class='box'>
      <h2>National Public Radio</h2>
      <em>Selected Pieces</em>
      <br><br>

      <div class='article'>
        <a href='http://www.npr.org/blogs/thesalt/2013/03/12/174132392/synesthetes-really-can-taste-the-rainbow' target='_blank'><img src='http://media.npr.org/assets/img/2013/03/18/synesthesiasmallv2-copy-efa39dd07af3dfb52f253e73021741b6896400a4-s4-c85.jpg'>

        <div class='description'>
          <h3>Some People Really Can Taste The Rainbow</a></h3>
          <p>Some people with a rare neurological condition known as synesthesia can taste shapes or smell color. And when these people work in the food industry, it can radically redefine flavor profiles. (Blue wine? Moss-flavored cotton candy?)</p>
        </div>
      </div>

      <div class='article'>
        <a href='http://www.npr.org/blogs/health/2013/02/24/172688806/ancient-chompers-were-healthier-than-ours' target='_blank'><img src='http://media.npr.org/assets/img/2013/02/22/vikingskull-b240b6df09b2915ad434da52e331e181b68cab5a-s4-c85.jpg'>

        <div class='description'>
          <h3>Ancient Chompers Were Healthier Than Ours</a></h3>
          <p>By examining ancient dental plaque, researchers have concluded that prehistoric humans' diets made for healthier mouths. The addition of flour and sugar to modern diets may have set the stage for a near-constant state of oral disease.</p>
        </div>
      </div>

      <div class='article'>
        <a href='http://www.npr.org/blogs/health/2013/04/06/175945670/the-real-sounds-of-hearing-loss' target='_blank'><img src='http://media.npr.org/assets/img/2013/04/05/sound_wide-09bd935ac4037f6a7f42b79b7ec718338959f785-s4-c85.jpg'>

        <div class='description'>
          <h3>The Real Sounds Of Hearing Loss</a></h3>
          <p>For the hearing-impaired, sounds are quieter, but they can also be fuzzier and maddeningly distorted. Listen to these audio clip simulations of what that kind of hearing loss sounds like.</p>
        </div>
      </div>

      <div class='article'>
        <a href='http://www.npr.org/blogs/thesalt/2013/03/18/174637393/the-wonderful-world-of-whisky-art' target='_blank'><img src='http://media.npr.org/assets/img/2013/03/26/macallan-101_custom-2ed9ec200f13d9dbf25853f22eb283c8a3d5ab2a-s4-c85.jpg'>
  
        <div class='description'>
          <h3>The Wonderful World Of Whisky Art</a></h3>
          <p>Photographer Ernie Button has been taking pictures of the dried residues left in empty whisky glasses for six years. The resulting images are compellingly abstract, and maybe just a little bit otherworldly.</p>
        </div>
      </div>

      <div class='article'>
        <a href='http://www.npr.org/blogs/health/2013/03/27/175468025/could-wind-turbines-be-toxic-to-the-ear' target='_blank'><img src='http://media.npr.org/assets/img/2013/03/27/81060811-4b01f08dae4659ad81dcb351d60c135a7b0efada-s4-c85.jpg'>

        <div class='description'>
          <h3>Could Wind Turbines Be Toxic To The Ear?</a></h3>
          <p>Critics argue that wind turbine syndrome is a fictional malady perpetuated by people angered by the wind turbines in their communities. Now ear, nose and throat experts are finally weighing in on whether it could be real.</p>
        </div>
      </div>

      <div class='article'>
        <a href='http://www.npr.org/blogs/health/2013/02/11/171742883/darkness-provides-a-fix-for-kittens-with-bad-vision' target='_blank'><img src='http://media.npr.org/assets/img/2013/02/13/2616649253_45069af4f5_o-de3a24519663b3eeb6085826e916239ce1455f31-s4-c85.jpg'>

        <div class='description'>
          <h3>Darkness Provides A Fix For Kittens With Bad Vision</a></h3>
          <p>Kittens regained sight in a blind eye after being plunged into darkness for 10 days. Researchers say that prolonged darkness may reset the brain to an earlier stage of development, allowing the kittens to recover their vision.</p>
        </div>
      </div>

      <div class='article'>
        <a href='http://www.npr.org/blogs/health/2013/02/15/172098333/what-nuclear-bombs-tell-us-about-our-tendons' target='_blank'><img src='http://media.npr.org/assets/img/2013/02/15/nuclear_57-046-60f5b6f991b3e30513cdf4c575e64312fa852445-s4-c85.jpg'>

        <div class='description'>
          <h3>What Nuclear Bombs Tell Us About Our Tendons</a></h3>
          <p>The fallout from Cold War bomb tests is shedding light on why the Achilles tendon heals so poorly after injuries. By looking at carbon-14, scientists have found that tendon tissue in people who were alive during the tests hasn't changed much since they were youngsters.</p>
        </div>
      </div>

      <div class='article'>
        <a href='http://www.npr.org/blogs/health/2013/02/27/172965436/how-guinea-pigs-could-help-autistic-children'><img src='http://media.npr.org/assets/img/2013/02/27/image_holding5-2--9c5bd26d209a29c71d248b6c0452897528e6fa58-s4-c85.jpg'>

        <div class='description'>
          <h3>How Guinea Pigs Could Help Autistic Children</a></h3>
          <p>Autistic children may find it easier to socialize with other people in the presence of animals. An Australian study suggests that animals could help autistic children connect with therapists, teachers and their peers.</p>
        </div>
      </div>

      <div class='article'>
        <a href='http://www.npr.org/blogs/health/2013/02/05/171152510/exercise-can-be-good-for-the-heart-and-maybe-for-sperm-too' target='_blank'><img src='http://media.npr.org/assets/img/2013/02/05/sperm_wide-d6283e142c682565621ccd7003b1966e53dbc2de-s4-c85.jpg'>

        <div id='sperm' class='description'>
          <h3>Exercise Can Be Good For The Heart, And Maybe For Sperm, Too</a></h3>
          <p>A study finds that guys who watched a lot of TV had lower sperm counts than more active fellows. The effect held true even when other factors, such as body weight and diet, were taken into account.</p>
        </div>
      </div>
      
      <div class='article'>
        <a href='http://www.npr.org/blogs/thesalt/2013/02/19/172431202/this-music-is-bananas-really' target='_blank'><img src='http://media.npr.org/assets/img/2013/02/20/banana-4726a2235dc9eea7a75220c289cebb88324fab27-s2-c85.jpg'>

        <div class='description'>
          <h3>This Music Is Bananas (Really)</a></h3>
          <p>Actually, it's all kinds of fruits and vegetables. A circuit board called the MaKey MaKey is allowing musicians to play music on produce, to awesome effect. Watch the video.</p>
        </div>
      </div>

      <div class='article'>
        <a href='http://www.npr.org/blogs/thesalt/2013/04/01/175721083/eat-fish-and-prosper' target='_blank'><img src='http://media.npr.org/assets/img/2013/04/01/sablefish-847c38e34ec85d05279f7f9058a9740f5feeed6c-s4-c85.jpg'>

        <div class='description'>
          <h3>Eat Fish And Prosper?</a></h3>
          <p>In a 16-year study, adults age 65 and older who ate fish regularly were observed to live longer and were less likely to die of cardiovascular disease. It's the latest finding to bolster doctors' recommendations that people should eat one to two servings of fatty fish per week. </p>
        </div>
      </div>
    </div>
    
  <div class='social_media'>
    <a href='http://www.linkedin.com/pub/audrey-carlsen/63/294/96b' target='_blank'><img src='../images/linkedin.svg' title='LinkedIn'></a>
    <a href='https://twitter.com/audcarls' target='_blank'><img src='../images/twitter.svg' title='Twitter'></a>
    <a href='https://github.com/audreycarlsen' target='_blank'><img src='../images/github.svg' title='GitHub'></a>
  </div>
</body>

</html>