<h2>Alaska Public Media (KUCB-FM)</h2>
<em>Selected Pieces</em>
<br><br>

<div class='article'>
  <a href='http://www.alaskapublic.org/2013/07/29/false-pass-inches-closer-to-ocean-energy' target='_blank'><img src='http://www.alaskapublic.org/wp-content/uploads/2013/07/falsepasshydromap.jpg'>

  <div class='description'>
    <h3>False Pass Inches Closer To Ocean Energy</a></h3>
    <p>Fishermen and scientists have known for years about the extremely strong ocean currents that rush past the Aleutian town of False Pass. A recent <a href="http://apps1.eere.energy.gov/tribalenergy/projects_detail.cfm/project_id=204" target="_blank">study</a> shows it might be viable as a power source for the town, but there’s still plenty of work to be done.</p>
  </div>
</div>

<div class='article'>
  <a href='http://www.alaskapublic.org/2013/06/28/polar-star-headed-for-arctic-ice-trials' target='_blank'><img src='http://www.alaskapublic.org/wp-content/uploads/2013/06/polar-star.jpg'>

  <div class='description'>
    <h3>Polar Star Headed For Arctic Ice Trials</a></h3>
    <p>The United States’ only heavy icebreaker will soon be back in service after a four-year, $90 million renovation. The USCGC Polar Star is scheduled to leave Unalaska Friday to undergo several weeks of ice trials in the Arctic.</p>
  </div>
</div>

<div class='article'>
  <a href='http://www.alaskapublic.org/2013/08/15/unalaska-women-miss-out-on-mammograms' target='_blank'><img src='http://www.alaskapublic.org/wp-content/uploads/2013/08/mammogram-truck.jpg'>

  <div class='description'>
    <h3>Unalaska Women Miss Out On Mammograms</a></h3>
    <p>Ferry service to southwest Alaska has been up in the air all summer, as workers scramble to fix the M/V Tustumena. A substitute ferry is scheduled to pick up some of the slack later this fall, but it won’t be able to get a medical device to Unalaska that women have been expecting all year.</p>
  </div>
</div>

<div class='article'>
  <a href='http://www.alaskapublic.org/2013/07/15/author-revives-aleutian-history-through-lost-ledgers' target='_blank'><img src='http://www.alaskapublic.org/wp-content/uploads/2013/07/lostaleutianledgers.jpg' height=150px>

  <div class='description'>
    <h3>Author Revives Aleutian History Through ‘Lost Ledgers’</a></h3>
    <p>Two years ago, historian Pennelope Goforth discovered six ledgers from the Alaska Commercial Company gathering dust in a friend’s basement. Now, she’s using the “Lost Ledgers” to bring a distant chapter of Aleutian history to life.</p>
  </div>
</div>

<div class='article'>
  <a href='http://www.alaskapublic.org/2013/07/03/scrap-company-makes-plans-for-aleutian-clean-up' target='_blank'><img src='http://www.alaskapublic.org/wp-content/uploads/2013/07/scrap-company-unalaska.jpg'>

  <div class='description'>
    <h3>Scrap Company Makes Plans For Aleutian Clean-Up</a></h3>
    <p>Over the past year, a Virginia-based company has been helping Unalaska get rid of millions of pounds of scrap metal. They’re finally nearing the finish line, and now, they’re looking to expand to nearby islands.</p>
  </div>
</div>

<div class='article'>
  <a href='http://kucb.org/news/article/wwii-tourism-takes-off-in-the-aleutians' target='_blank'><img src='http://kucb.org/media/img/photo_1.jpg'>

  <div class='description'>
    <h3>WWII Tourism Takes Off In The Aleutians</a></h3>
    <p>A travel company specializing in military history has set its sights on the Aleutian Islands. A WWII-focused cruise from Attu to Unalaska marks the beginning of what may be a new wave of interest in "the Forgotten War."</p>
  </div>
</div>

<div class='article'>
  <a href='http://kucb.org/news/article/swiss-sailing-family-brings-climate-campaign-to-unalaska' target='_blank'><img src='http://kucb.org/media/img/pic_fromtop_thumbnail.jpg' height=150px>

  <div class='description'>
    <h3>Swiss Sailing Family Brings Climate Campaign to Unalaska</a></h3>
    <p>In 1999, a Swiss climatologist and his wife embarked on a four-year voyage to sail around the world. Their goal was to climb the tallest peak on every continent and to raise awareness about the dangers of global climate change. Fourteen years, five continents, and four children later, they’re still sailing.</p>
  </div>
</div>

<div class='article'>
  <a href='http://kucb.org/news/article/marine-biologist-bids-farewell-to-unalaska/' target='_blank'><img src='http://kucb.org/media/img/Reid.jpg'>

  <div class='description'>
    <h3>Marine Biologist Bids Farewell to Unalaska</a></h3>
    <p>Marine biologist Reid Brewer left town this month to take a teaching position in Sitka. He spent almost ten years here, educating the community about ocean science through the Alaska Sea Grant Marine Advisory Program, which provides for scientists like Brewer to live and work in coastal Alaskan communities.</p>
  </div>
</div>