body {
  margin: 0;
  font-family: Avenir, sans-serif;
}

a {
  text-decoration: none;
  color:#000000;
}

a:hover {
  color: #c20029;
  transition: color .25s ease-in-out;
   -moz-transition: color .25s ease-in-out;
   -webkit-transition: color .25s ease-in-out;
}

h1, h2, h3 {
  padding: 0;
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: 60pt;
  letter-spacing: 10px;
}

.h1_blog {
  font-size: 20pt;
  letter-spacing: 3px;
}

h2 {
  font-size: 15pt;
  letter-spacing: 1px;
}

.h2_blog {
  font-size: 10pt;
  letter-spacing: 1px;
}

h3 {
  font-size: 12pt;
}

#header {
  font-size: 30pt;
  letter-spacing: 4px;
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 26px;
  width: 850px;
  position: fixed;
  top: 0;
  background-color: white;
  z-index:1;
}

.container {
  width: 870px;
}

#sidebar {
  font-size: 17px;
  padding-left: 30px;
  width: 100px;
  height: 100%;
  letter-spacing: 1px;
  position: fixed;  
  top: 105px;
  background-color: white;
}

.box {
  font-family: Avenir;
  margin-left: 185px;
  margin-top: 125px;
  width: 662px;
  margin-bottom: 80px;
}

.article {
  margin-bottom: 30px;
  margin-left: 10px;
}

.article img {
  width: 200px;
  transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.article img:hover {
  opacity: 0.75;
}

.description {
  font-size: 10pt;
  padding-top: 10px;
  padding-left: 15px;
  display: inline-block; 
  width: 430px;
  vertical-align: top;
}

#sperm {
  padding-top: 0;
}

.reverse_links a {
  color: #c20029;
}

.reverse_links a:hover {
  color: #828282;
}

ul {
  list-style: none;
}

ul.dropdown {
  opacity: 0;
  font-size: 15px;
  font-style: italic;
  position: absolute;
  width: 130px;
  top: 148px;
  left: 150px;
  background-color: white;
  border: 1px solid black;
  padding-left: 25px;
  transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

ul li:hover ul.dropdown {
  opacity: 1;
}

ul.dropdown li {
  display: block;
  padding: 5px;
}

.social_media {
  position: fixed;
  bottom: 16px;
  left: 40px;
  z-index:2;
}

.social_media img {
  width: 16px;
  margin-right: 10px;
}

.social_media img:hover {
  opacity: .5;
  transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.code {
  text-indent:50px;
  font-family: Courier;
}