h1, h2, h3, h4 {
  padding: 0;
  line-height: 1;
  margin: 0;
}

body {
  margin: 0;
  font-family: Avenir, sans-serif;
}

#title {
  width: 800px;
  height: 150px;

  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  
  margin: auto;
  margin-top: -45px;
}

h1, h2 {
  font-weight: normal;
  text-align: center;
}

h1 {
  font-size: 60pt;
  letter-spacing: 10px;
}

h2 {
  font-size: 15pt;
  letter-spacing: 8px;
  line-height: 3;
}

h3 {
  font-size: 17pt;
  letter-spacing: 1px;
}

h4 {
  font-size: 12pt;
}

a {
  text-decoration: none;
  color:#000000;
}

a:hover {
  color: #a01846;
}

#header {
/*  border: 1px solid red;*/
  font-size: 30pt;
  letter-spacing: 4px;
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 8px;
  width: 500px;
}

.container {
/*    border: 1px solid red;*/
  width: 900px;
}

#sidebar {
/*  border: 1px solid red;*/
  font-size: 17px;
  padding-left: 65px;
  width: 100px;
  letter-spacing: 1px;
  display: inline-block;
  float: left;
}

.box {
/*  border: 1px solid red;*/
  font-family: Avenir;
  padding-top: 15px;
  padding-left: 60px;
  display: inline-block;
  width: 650px;
}

.article {
  display: block;
  margin-bottom: 30px;
  margin-left: 10px;
}

.article img {
  width: 200px;
}

.description {
/*  border: 1px solid red;*/
  font-size: 10pt;
  padding-top: 10px;
  padding-left: 15px;
  display: inline-block; 
  width: 400px;
  vertical-align: top;
}

#sperm {
  padding-top: 0;
}