<h1 id='h1_blog'>The Good, the Bad, and the Windy</h1>

<p>According to Wikipedia, the population of Unalaska is about 4,300 people, and only 6% of that population is between the ages of 20 and 24. Assuming my math is correct, that comes out to about 260 people my age on the island, most of whom are almost always busy working -- on the ships, in processing plants, or in the handful of restaurants and bars scattered around town.</p>

<p>Needless to say, there isn't an abundance of people to hang out with in Unalaska. I've spent the first week here with basically the same people, including KUCB's news director, Stephanie, and her partner, Joe. Oh, and their dog. Quite a lot of time has been spent with their dog.</p>

<p>Over the weekend, Stephanie and I hiked up to the top of Mount Ballyhoo, where I was able to get this classic shot of Dutch Harbor. Please note the airstrip in the foreground, strategically nestled between mountain and water. (Fun fact: That's the shortest runway in the world to have landed a Boeing 737.)</p>

<p>Again, nature is everywhere here, and since the vast majority of the island is uninhabited, you don't have to go far to find yourself immersed in it. On Sunday, Joe joined us for a hike down to Ugadaga Bay, where we spent the day kayaking, fishing, and sitting on the beach working on our sunburns (it was a rare sunny day).</p>

<p>Speaking of weather, I know that the rest of the country is suffering from a heat wave right now, but Unalaska doesn't seem to have gotten the memo.</p>

<p>I've learned to ignore the forecasts though -- one minute it'll be sunny and calm, and the next it'll be cloudy, rainy, and windy. The wind here is serious business. I was literally blown off of my bike a few days ago by a particularly vindictive williwaw.</p>

<p>Outdoor adventures aside, living in a remote community can also be fairly isolating. As with any undertaking of this sort, there has been a certain amount of loneliness and self-doubt involved -- especially during slow moments -- and that's an important thing to acknowledge. Yes, I've seen a moose. Yes, I've flown by a volcano. And yes, at times I've also been homesick.</p>

<p>But I've also thoroughly enjoyed my work so far. Last Friday, I had the thrilling and surreal experience of hearing my own voice on the radio (check out my first two stories here and here). The Associated Press even liked my story on the Polar Star so much that they plagiarized it without attribution. Stephanie made them pull the story, so they re-reported it.</p>

<p>For the past week, I've spent my time driving around the island, talking to interesting people, touring ships and junk yards, writing scripts, mixing sound, voicing live newscasts, stressing out about live newscasts (try saying "Unalakleet" five times fast), and suppressing the urge to shout profanities in the studio when the computers crash. And I have to admit, I'm loving it. Being at KUCB doesn't even feel like work.</p>

<p>I'm still not used to calling myself a reporter, and it's strange to tell people that I'm considering a career in journalism (where did that come from?). But this evening, after getting home from work, I went into my room and it hit me -- I'm doing it. That random, crazy idea I had eight months ago to leave medical school for public radio? I'm doing it.</p>

<p>I'm doing it, I'm doing it, I'm doing it.</p>