date: 2013-06-24

<div class='blog'>

<h1 class='h1_blog'>"It's Gonna Be Real"</h1>

<p>In the summer of 1996, my sister decided to come up from Washington to visit Alaska. It was supposed to be a temporary stay, but 17 years later, she's still here. Alaska gets in your blood, people say. And once it does, it's hard to get it out. I've only been here for 24 hours, but I think I'm already beginning to understand why.</p>

<img src='http://3.bp.blogspot.com/-LbB35qVgUBs/UcnOSwQDnfI/AAAAAAAAARo/AHUs_y822vA/s1600/992850_10200122193609357_1747797292_n.jpg'>

<p>I took this picture at 11:30 pm last night, at my sister's house in the small town of Girdwood (pop. ~2,200). Because of the insanely long days and light nights, I won't be able to see stars at all this summer.</p>

<p>This morning, I headed up to Anchorage (about 45 minutes north of Girdwood) to visit Alaska Public Media, home of the city's local radio and TV stations as well as the Alaska Public Radio Network (APRN). Public radio works a little differently here than in the rest of the country -- Alaska's twenty-some member stations pay annual dues to both NPR <em>and</em> to APRN, which supplies these stations with statewide news. APRN is sort of like a little radio fiefdom, operating fairly independently from the national network.</p>

<p>It was great to meet the people at APRN who I'll be working with remotely from Unalaska. It was even greater to meet this moose on my way out of the building.</p>

<img src='http://4.bp.blogspot.com/--aNrCUzrlfs/Uck-Hkvq6GI/AAAAAAAAAQQ/PuqxjUYfWXU/s1600/IMG_1265.jpg'>

<p>Melissa Block, host of <em>All Things Considered</em>, thought it was pretty great too. (She's in town for a speaker series.)<p>

<p>What a cutie.</p>

<p>Later, my sister and I thought it'd be fun to hike along the ridge and glacier bowl of Mount Alyeska -- about a ten-minute drive from her house. It was a little bright out, to say the least.</p>

<p>From the glacier bowl, we had a pretty excellent view of the oddly-named Turnagain Arm -- a silty, shallow branch of Cook Inlet that completely empties every day with the tide. Beluga whales follow schools of fish into the Arm at high tide. Some of these <a href='http://www.turnagaintimes.com/current%20issue/2010-05-20/hooligan.html' target='_blank'>small fish</a> are so oily that they can be dried out and burned as candles.</p>

<p>Explosives are used on Mount Alyeska to clear snow that could cause avalanches. One sign reads: "<em>WARNING: HIKERS. Unexploded artillery shells from avalanche mitigation may be found on parts of the mountain. If you find one, DO NOT TOUCH IT.</em>"</p>

<p>Later in the day, after we got tired of touching unexploded artillery shells (seriously, what?), we went down to watch the largest bore tide of the year roll through the Turnagain Arm. Basically, a bore tide is a wall of water that travels through a narrow body of water against its current. Thanks to this weekend's <a href='news.nationalgeographic.com/news/2013/06/130622-supermoon-solstice-biggest-science-space-2013-june/' target='_blank'>supermoon</a>, today's bore tide was much larger than normal -- around ten feet tall, I'd guess -- and plenty of people were down by the water to surf the tide, or just to watch it.</p>

<p>Here are two important things to understand about Alaska: Nature is EVERYWHERE, and the pace of life is way slower. Wild sheep roam the highways. Moose give birth in people's backyards. Evenings center around gathering to watch the tide roll in.</p>

<p>Everyone I've met so far has been excited to hear that I'm headed out to the Aleutians tomorrow. Earlier today, I talked with a reporter who used to work at KUCB. She told me to prepare myself: "It's gonna be real," she said Let's hope so.</p>

</div>