date: 2013-06-22

<div class='about_me'>

<h1 class='h1_blog'>The Call of the Void</h1>

<p>Today I am 23. Two years ago, on my birthday, I applied to medical school. Since then, life has taken a distinctly different course than I could possibly have expected.</p>

<p>In the past year, I've lived in Minnesota, Baltimore, DC, and Seattle. I've graduated from college, hiked the Canadian Rockies, cracked open a human skull with a mallet and chisel, acknowledged some deep doubts within myself, had an epiphany, burned some bridges, built some new ones, received my first real paycheck (from NPR!), driven across the country, slept under the stars, and learned that it's better to embrace entropy than to fight it. ("It's the best possible time to be alive," wrote Stoppard, "when almost everything you thought you knew is wrong.")</p>

<p>Tomorrow I'll be moving once again, this time to the <a href='https://maps.google.com/maps?q=Unalaska,+AK&hl=en&ll=53.592505,-145.283203&spn=25.938367,79.013672&sll=53.800651,-149.677734&sspn=25.814717,79.013672&oq=Unalaska&hnear=Unalaska,+Aleutians+West,+Alaska&t=m&z=4' target='_blank'>Aleutian Islands</a> to work as a <a href='http://kucb.org/' target='_blank'>radio reporter</a> for the summer. Am I ready? Probably not. But I wasn't ready for anything that life threw at me this past year, and yet somehow, remarkably, I survived, I grew, and I started to feel better.</p>

<p>I've been instructed to take pictures, to write postcards, to blog until my fingers bleed. I've been told to pitch stories to stations, to magazines, to the network, and, above all, to have "a really educational experience" (thanks, mom). I'm supposed to see the Northern Lights, visit Siberia, catch a narwhal, and marry a fisherman. I know less than I'd like to about the place that I'm going, or about how I'll feel once I get there, but I've decided that that's okay.</p>

<p>The French have a term for it -- <em>l'appel du vide</em>, "the call of the void." It's that urge that some people get to jump from high places, to leap from their safe vantage points into the unknown. I'm not sure I'm ready for it, but it's happening.</p>

<p>So be good now, friends, stay in touch, and keep your ears open.</p>

</div>