date: 2013-11-25

<h2 class='h2_blog'>Monday, November 25, 2013</h2><br>
<h1 class='h1_blog'>Week Four</h1>

<p>Last week was by far the hardest week I’ve had so far at Ada. We moved on from Ruby and proceeded to cover Sinatra – a domain-specific language used to create web pages – HTML, Ruby embedded in HTML embedded in Sinatra, SQL, SQLite, Ruby embedded in SQL, …. The list goes on. To me, it felt like trying to learn French in half a day using a textbook written in Spanish.</p>

<p>e were given a certain piece of advice over and over again – when you learn something new in the world of computer programming, it’s going to seem like magic at first. In fact, it’s probably going to seem like magic the first five, ten, or fifteen times you have to use it. But finally, with enough repetition and patience, it’ll start to make sense.</p>

<p>I’d like to say that these words were comforting, that they made me feel like it was okay to be feeling as frustrated, confused, and tired as I was. But they only made me more frustrated, tired, and confused. For people as intelligent and driven as me and my classmates, it’s very difficult to be told to not worry about understanding something, about accepting the hand-wavy “magic” and the promises that one day, some day, it’ll all make sense. We want to understand now.</p>

<p>And it’s difficult too, when people throw this “magic” at me, to differentiate between what really is magic at this point, and what I should be able to understand, or re-create, or pull out of thin air on my own. And it’s scary to think that even experienced, professional programmers don’t understand all of it. That maybe it’s unreasonable to assume that we can know all of it.</p>

<p>At the beginning of this program, I thought about how amazing it was that in six months, in a year, I would understand computers inside and out, how they work, how they connect to the internet, how you can talk to them, and have them talk to each other. Now I’m realizing that maybe that’s a little too much to assume, that no one person understands all of that.</p>

<p>On the other hand, it’s amazing to realize that that frustrating advice that my instructors have been giving me might actually be true. There are some things I don’t get at all. But most things make a lot more sense than they did when I first encountered them, enough at least that I’d know where to start, what references to look up, if I ever did have to use them in the future. And maybe that’s really all I can hope for. Today, at the beginning of my fifth week in this program, I designed and published my first-ever non-Geocities-circa-2000 website. That’s an accomplishment. That’s something I wouldn’t have known how to do a month ago. And that’s pretty cool.</p>