date: 2013-12-01

<div class='reverse_links'>
<h2 class='h2_blog'>Sunday, December 1, 2013</h2><br>
<h1 class='h1_blog'>Week Five</h1>

<p>First of all, Happy December! (<a href='http://www.npr.org/templates/story/story.php?storyId=248041250' target='_blank'>Rabbit rabbit</a>, anyone?)</p>

<p>Last week was a short week at Ada, thanks to the holiday, but even in three days, we covered a lot of ground, including the basics of HTML and CSS and how to use languages like Ruby and Sinatra to create websites. <em>This</em> website, as a matter of fact, was created from scratch over the past week. I know it doesn't look like much, it's not very flashy or particularly colorful, but I'm still proud to be able to say I wrote every line of code that went into it.</p>

<p>This past week once again represented a complete change from what we were doing the week before. In my opinion, it was a welcome change, and as it turns out, I really like front end development. Creating websites is suprisingly imprecise - there's no magic solution, and unlike when solving a problem in Ruby, where I can often see exactly where I'm going before I even have all of the code typed out, using HTML and CSS seems like a much more labored, elaborate process. Move a border five pixels to the right, refresh, move it slightly more, refresh... There's a lot of guess-and-checking. But while some see that as frustrating or tiresome, I find it absorbing. Web design is like painting - the code is my paintbrush, but I'm still very much in charge of the finished product.</p>

<p>Some of my classmates have found that they don't particularly like this sort of work - they'd much prefer to be working on the back end, diving into databases and crunching the numbers. I don't mind this sort of work and I've always thought of myself as liking that sort of analytical work. So how should I feel about the fact that I also really like the design aspect of programming, what some consider to be the "fluffy" side of the field?</p>

<p>This brings up an interesting point about gender norms. We've all heard a great deal about the gender gap in technology - only 15% of programmers are women, and of those, most are involved in specific types of work, including design, using what some consider to be “more basic” languages like HTML and CSS. (In fact, when I told one of my male friends that the first thing we were learning at Ada was Ruby, he was surprised that we were starting with such a low-level - i.e. "legit" - programming language.) I’d hate to think that, to some, an all-female developers school conjures up images of giggling girls sitting around, learning the basics of HTML for six months so that they can trick out their personal websites. I was offended that my friend was surprised that we’d be learning real, serious programming languages.</p>

<p>But on the other hand, I <em>do</em> like HTML/CSS, I <em>do</em> like designing websites.  How should I feel about the fact that I appear to be conforming to a gender stereotype? Honestly, I don’t care that much. I think it’s great that I’ve found something I know I enjoy and that there’s a definite demand for. The key is to make sure that I don’t get boxed into doing just this one thing by people who assume that, as a woman, I wouldn’t have any other interests. But hopefully I won’t ever run into that problem.</p>

</div>
