date: 2013-11-03

<h2 class='h2_blog'>Sunday, November 3, 2013</h2><br>
<h1 class='h1_blog'>Week One</h1>

<p>It's strange to think that six weeks ago, I hadn't even heard of Ada Developers Academy. It’s even stranger to think that it was only three weeks ago that I learned I'd be spending the next year immersed in the totally mysterious, intimidating, and exciting world of computer programming. But here I am, one week into class, and so far, I’ve felt like I belong.</p>
 
<p>Many people who know me were surprised to hear that I’d decided to dedicate an entire year to learning how to program. After all, joining Ada represented the second time in a little over a year that I’d changed career tracks – first from medicine to radio journalism, and then from that to programming. But I’m not the only one in this cohort who’s followed a winding path – we all come from different backgrounds, some totally unrelated to programming, like mine. But we’re all here because we’re not afraid to dive into something new, something we maybe never thought we could do before.</p>
 
<p>Somewhere in the back of my mind, I’d always wished I knew how to program. I have several friends who are pursuing careers in software and web development -- I envy their job flexibility and I’m amazed by the things they can create, seemingly by magic, out of strange strings of symbols, numbers, and words that I can’t even begin to comprehend. Plus, they all seem to be having a lot of fun.</p>
 
<p>Add in the current high demand for programmers, and it’s a little puzzling that more people don’t enter this field.</p>
 
<p>Or is it? For most of us -- those who didn't major in computer science or manage to find some other way to gain a solid background in the field early on -- computer science can feel like a big, scary, black box. It’s an exciting box, to be sure, filled with all sorts of shiny potentials. But I suspect that a lot of people who don’t have a previous background in programming assume that they’ve missed their opportunity to peer into that box and to make sense of anything they see inside.</p>
 
<p>Sure, there are a ton of free programs out there, available to anyone who is eager to learn. But for someone like myself, the self-discipline and outside time commitment of an online course seemed prohibitively high.</p>
 
<p>And so it wasn’t until I heard about Ada, simply by chance, that my interest in computer programming was able to migrate from the realm of vague if-only’s into the much more exciting – and demanding – world of real possibility. Two months ago, I had no idea I’d be learning how to code in Ruby right now, or push programs to Github. And if it weren’t for Ada, I wouldn’t even know what that means.</p>
 
<p>I’ve learned plenty in my first week, about command lines, arrays, repositories, methods… But perhaps the most important thing I’ve learned is that it’s never too late to try new things – whether it’s things I’ve always dreamed of doing, or new ideas that I wouldn’t have even considered possible a year ago. Life is constantly in flux, and it’s up to me to navigate through it in whatever manner I want and to jump on the opportunities like Ada that pop up along the way.</p>