date: 2013-12-01

<div class='reverse_links'>
<h2 class='h2_blog'>Sunday, December 1, 2013</h2><br>
<h1 class='h1_blog'>Week Five</h1>

<p>First of all, Happy December! (<a href='http://www.npr.org/templates/story/story.php?storyId=248041250' target='_blank'>Rabbit rabbit</a>, anyone?)</p>

</div>