date: 2013-11-10

<div class='reverse_links'>
<h2 class='h2_blog'>Sunday, November 10, 2013</h2><br>
<h1 class='h1_blog'>Week Two</h1>

<p>Week Two at Ada flew by. Last weekend, I moved into a new and more permanent house in Seattle, so this week I was able to feel a lot more settled. I had a better idea of how much time I needed to spend on homework in the evenings, what classes would be like, and when I could afford to take a deep breath and assure myself that I was doing just fine.</p>

<p>A big part of Week Two involved getting to know the other women in my program better. We’ve started to get to know each other outside of class too, through after-hours “Ruby meetups” like <a href='http://www.seattlerb.org/' target='_blank'>Seattle.rb</a> and end-of-the-week happy hours. It’s interesting to hear about everyone’s backgrounds and perspectives on the class. We all have different goals - some people know exactly what they want to be doing in a year, whether that involves moving on to a PhD program in computer science or working on developing mobile apps. Others, like me, have less-specific goals. We’re motivated by the conviction that these skills will put us at a huge advantage, no matter what field we end up in (plus it’s fun, damn it). But we’re also aware that we probably won’t know exactly where we’re going until we get there.</p>

<p>And that might just be the nature of the field. Since this program started, I’ve learned an incredible amount about things that I couldn’t even have conceived of two weeks ago. Being able to identify what I don’t know, to tell the difference between the hand-wavy programming “magic” that I’m not expected to understand yet and concepts that I should actually be working to master, has proven to be one of the biggest challenges so far. (Socrates would agree: "The only true wisdom is in knowing you know nothing.")</p>

<p>But hold on, Socrates. We do know something, don't we? We know quite a bit, actually, even after two short weeks. This is a topic that’s come up in class on occasion - the question of where we should draw the line between modesty and assertiveness, between admitting that we still have plenty to learn and being confident in the skills we’ve already gained.</p>

<p>With a class made up entirely of women, our discussions often gravitate towards talk of gender roles, feminism, and our place in this traditionally male-dominated field. Some of my classmates have voiced fears of “<a href='http://juliepagano.com/blog/2013/11/02/it-s-dangerous-to-go-alone-battling-the-invisible-monsters-in-tech/' target='_blank'>impostor syndrome</a>” - uncertainty of whether they belong, of whether they’ve simply gotten as far as they have because no one has noticed yet that they don’t have what it takes to be a programmer.</p>

<p>Perhaps I should consider myself lucky - I haven’t felt any doubts about whether I belong here or not. And I haven’t experienced the kind of sexism directed at me that some of my classmates have described. We’ve discussed strategies for dealing with such situations if or when they arise. But sometimes I become frustrated with these conversations. To me, the best way to combat skeptics, inclusing ourselves, is to do good work, and let that speak for itself.</p>

</div>