date: 2014-2-03

<div class='reverse_links'>
<h2 class='h2_blog'>Monday, February 3, 2014</h2><br>
<h1 class='h1_blog'>SOS! SOS!</h1>

<p>I've been working on a <a href="http://feed-hunter.herokuapp.com" target="_blank">feed aggregator app</a> that allows users to follow Twitter and Tumblr feeds, as well as RSS feeds, all from one site. One of the features that I worked on was being able to favorite a tweet from our app and have that show up in the user's favorites on Twitter. This requires using a POST request to send information to Twitter using the application's API. Luckily, the <a href="https://github.com/sferik/twitter" target="_blank">Twitter gem</a> actually makes this feature pretty simple to implement.</p>

<p>I decided to write the logic for favoriting tweets in my posts controller. The first thing I did was to add the following route, which corresponds to a method called "favorite" in my posts controller:</p>

<p><strong>In routes.rb:</strong></p>
<pre style="background:#fdf6e3;color:#586e75">post <span style="color:#269186"><span style="color:#d01f1e">'</span>favorite<span style="color:#d01f1e">'</span></span> => <span style="color:#269186"><span style="color:#d01f1e">'</span>posts#favorite<span style="color:#d01f1e">'</span></span>, <span style="color:#269186">as:</span> <span style="color:#269186"><span style="color:#d01f1e">'</span>favorite<span style="color:#d01f1e">'</span></span>
</pre>

<p>The Twitter gem provides a really slick method that makes it easy for anyone who has logged into our app using their Twitter account to favorite tweets. All you need is a "client" that has the correct credentials to post to Twitter, and a specific tweet that you want favorited. You can create the client using the <code>Twitter::REST::Client.new</code> method and the access tokens provided by Twitter for that specific user (creating this client is outside of the scope of this blog post).</p>

<p>In our Post database, we stored information about tweets from people that our users are following on Twitter, including the specific "tweet ID" assigned by Twitter. This makes it easy to grab that tweet object using the <code>.status</code> method provided by the Twitter gem:

<p><strong>In posts_controller.rb:</strong></p>
<pre style="background:#fdf6e3;color:#586e75">tweet <span style="color:#859900">=</span> client.status(params[<span style="color:#269186">:twitter_id</span>])
</pre>

<p>With our client and tweet in hand, it's easy for that client (the Twitter user signed into our app) to favorite that tweet with the following gem-supplied method:</p>

<pre style="background:#fdf6e3;color:#586e75">client.favorite!(tweet)
<span style="color:#268bd2">redirect_to</span> <span style="color:#269186">:back</span>, <span style="color:#269186">notice:</span> <span style="color:#269186"><span style="color:#d01f1e">"</span>Tweet has been favorited!<span style="color:#d01f1e">"</span></span>
</pre>

<p>The <code>.favorite</code> method adds the tweet object that is passed in as an argument to that client's favorites on Twitter. Using <code>.favorite!</code> (with the bang), will go further by throwing an error if the client has already favorited that tweet.</p>

<p>This is a convenient feature, but it also means that it's possible to encounter an error page on our app -- not very user-friendly. We want to handle that error gracefully, and this is where a nifty little method called <code>rescue</code> comes to the... well, rescue.</p>

<p><code>Rescue</code> can be used whenever you want to work around something that you know might throw an error (i.e. trying to favorite a tweet that has already been favorited). Basically, it tells the app to ignore the error, not freak, and do something else instead. Here's how I used <code>rescue</code> to work around the error that .favorite! throws:</p>

<pre style="background:#fdf6e3;color:#586e75"><span style="color:#738a05;font-weight:700">rescue</span> <span style="color:#a57800">Twitter</span>::<span style="color:#a57800">Error</span>::<span style="color:#a57800">AlreadyFavorited</span>
  <span style="color:#268bd2">redirect_to</span> <span style="color:#269186">:back</span>, <span style="color:#269186">alert:</span> <span style="color:#269186"><span style="color:#d01f1e">"</span>You already favorited this tweet.<span style="color:#d01f1e">"</span></span>
<span style="color:#738a05;font-weight:700">end</span>
</pre>

<p>With this code, when a user tries to favorite an app they've already favorited, the Twitter gem's <code>.favorite!</code> method will try to throw an error, but because I have that rescue in there, it'll just redirect back to the user's home feed with the alert that that tweet has already been favorited.</p>